body {
  background: #eee;
  font-family: sans-serif;
  border: 3px #fff;
}

h1 {
  font-size: 21px;
}

.card {
  width: 600px;
  height: 250px;
  background:#fff;
  margin: 8px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 13px auto;
  width: 550px;
  height: 20px;
}

.content {
  background: #e3f4ff;
  margin: 13px auto;
  padding: 10px;
  padding-top: 10px;
  width: 550px;
  height: 45px;
}

.button-container {
  background: #e3f4ff;
  margin: 5px auto;
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 550px;
  height: 55px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px;
  padding-inline: 20px;
}